[run]
branch = False
source =
    islparser.isl
    islparser.model.state
    islparser.model.transition
    islparser.model.automata
    islparser.model.conditionals
    islparser.parser.lexer_and_parser
    islparser.model.isl_problem
    islparser.util.logger
    islparser.util.options
    islparser.util.componentidentifier

[report]
exclude_lines =
    import
    from

; Regexes for lines to exclude from consideration
exclude_also =
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    @app.route

ignore_errors = True


[html]
directory = htmlcov
